* {
    border:        none;
    border-radius: 0;
    font-family:   Iosevka Nerd Font;
    font-size:     14px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(235, 219, 178, 1);
    background: rgba(40, 40, 40, 1);
}

#custom-powerctrl {
    font-size:  22px;
    padding:    0px 13px 0px 9px;
    color:      #fe8019;
    background: #3c3836;
    margin:     0px 4px 0px 0px;
}

#workspaces {
    margin:     0 6px;
    color:      rgba(60, 255, 255, 1);

}

#workspaces button {
    padding: 0px 2px 0px 2px;
    color:	    rgba(235, 219, 178, 1);
}

#workspaces button.focused {
    color:	    #458588;
}

#bluetooth, #mode, #battery, #workspaces, #cpu, #temperature, #backlight, #tray, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     4px 4px 4px 4px;
    min-width:  25px;
    padding:    0px 5px 0px 5px;
    border-radius: 2px;
    background: #3c3836;
}

#bluetooth {
    color:	#458588;
}
#custom-spotify {
    color:      #8ec07c;
}

#memory {
    color:      #83a598;
}

#pulseaudio {
    color:      #d3869b;
}

#backlight {
    color:      #b8bb26;
}

#temperature {
    color:      #fb4934;
}

#clock {
    margin:     0px 6px 0px 6px;
    min-width:  140px;
}

#network {
    color:      #fabd2f;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging, #battery.bat2.charging {
    color:      rgba(142, 192, 124, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
